/* 鼠标点击链接后变色 */

a:visited {
    color: red !important;
    /*  本来想点击后加中划线的，始终不起作用，最后查到原因是安全问题已取消加划线 
        text-decoration: line-through !important; */
}


/* 鼠标悬停链接变色 */

a:hover {
    color: red !important;
    /* 悬停链接加中划线 */
    /* text-decoration: line-through !important; */
}